<div class="h-screen w-screen bg-cover bg-center" [ngStyle]="{'background-image': 'url(' + backgroundUrl + ')'}">
  <div class="w-full h-full outfit">
    <div class="w-full h-full py-10 flex flex-col items-center relative">
      <div class="absolute top-14 right-10 flex uppercase text-2xl text-green-50 space-x-10 bg-[#47bfa6] p-3 rounded">
        <p>Novčanik:</p>
        <p>{{balance}} RSD</p>
      </div>
      <div class="absolute top-14 left-10 flex space-x-6">
        <img routerLink="/" class="cursor-pointer" src="assets/arrow.png" alt="Logo" width="50px">
      </div>
      <div class="w-24">
        <img src="assets/logoGym.png" alt="Logo">
      </div>
      <div class="container mx-auto py-8 pt-40">
        <div class="flex justify-center">
          <div *ngIf="errorMessage" class="p-4 w-[375px] mb-4 text-lg text-white text-center rounded-lg bg-red-600" role="alert">
            <span>{{errorMessage}}</span>
          </div>
        </div>
        <form [formGroup]="ticketBuyForm" (ngSubmit)="ticketBuy()"
          class="w-full max-w-sm mx-auto bg-white p-8 rounded-md shadow-md">
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="name">Ime</label>
            <input formControlName="ime"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#47bfa6]"
              type="text" id="name" name="name">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="email">Prezime</label>
            <input formControlName="prezime"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#47bfa6]"
              type="text" id="lastName" name="lastName">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="email">E-mail</label>
            <input formControlName="email"
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#47bfa6]"
              type="email" id="email" name="email">
          </div>
          <button
            class="w-full uppercase bg-[#47bfa6] text-white font-bold py-2 px-4 rounded-md cursor-pointer hover:bg-[#58a38e] transition duration-300"
            type="submit">Kupi</button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="isModalOpen"
  class="fixed top-0 left-0 right-0 bottom-0 z-50 flex items-center justify-center bg-gray-950/90">
  <div
      class="relative p w-full max-w-xl md:max-w-2xl bg-white rounded-lg shadow max-h-[90vh] overflow-y-auto mx-4 md:mx-0">
      <!-- Modal header -->
      <div class="sticky top-0 flex items-center justify-end pt-4 pl-4 pr-6 rounded-t bg-white">
          <button (click)="closeModal()"
              class="cursor-pointer text-gray-400 bg-transparent hover:bg-[#47bfa6] hover:text-gray-100 rounded-lg text-sm w-8 h-8 flex items-center justify-center">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Close modal</span>
          </button>
      </div>
      <!-- Modal body -->
      <div class="container mx-auto py-8 flex flex-col justify-center items-center">
        <div *ngIf="successmsg" class="p-4  mb-4 text-lg text-white text-center rounded-lg bg-[#47bfa6]" role="alert">
          <span>{{successmsg}}</span>
        </div>
        <span>Vreme preostalo za skeniranje</span>
        <span>{{ minutes | number:'2.0-0' }}:{{ seconds | number:'2.0-0' }}</span>
        <img [src]="qrCodeImage" *ngIf="qrCodeImage" alt="QR Code">
      </div>
  </div>
</div>
</div>